absl-py==2.1.0
asgiref==3.6.0
certifi==2024.8.30
charset-normalizer==3.3.2
contourpy==1.1.0
crispy==0.7.4
crispy-bootstrap5==2024.2
cycler==0.11.0
dill==0.3.8
distlib==0.3.6
Django==4.2
django-auditlog==3.0.0
django-crispy-forms==2.1
djangorestframework==3.14.0
fabio==2024.4.0
filelock==3.11.0
fonttools==4.40.0
h5py==3.11.0
hdf5plugin==4.4.0
idna==3.10
immutabledict==4.2.0
jalali_core==1.0.0
jdatetime==5.0.0
kavenegar==1.1.2
kiwisolver==1.4.4
lxml==5.2.1
matplotlib==3.7.1
mpmath==1.3.0
numpy==1.25.0
ortools==9.9.3963
packaging==23.1
pandas==2.2.2
pbr==6.0.0
Pillow==9.5.0
platformdirs==3.2.0
protobuf==5.26.1
pyparsing==3.1.0
PyQt5==5.15.10
PyQt5-Qt5==5.15.2
PyQt5-sip==12.13.0
python-constraint==1.4.0
python-dateutil==2.8.2
python-decouple==3.8
python-utils==3.7.0
pytz==2023.3
pywin32==306
qiskit==1.0.2
requests==2.32.3
rustworkx==0.14.2
scipy==1.13.0
silx==2.1.0
six==1.16.0
sqlparse==0.4.4
stevedore==5.2.0
symengine==0.11.0
sympy==1.12
typing_extensions==4.7.0
tzdata==2023.3
urllib3==2.2.3
virtualenv==20.21.0