.table-wrapper {
    overflow-x: auto; 
    overflow-y: auto;
    position: relative;
  }
  
  .pinned-column {
    position: sticky;
    left: 0; 
    background-color: #fff;
    z-index: 1000;
    box-shadow: 1px 0px 5px rgba(0, 0, 0, 0.1);  
  }
  
  .pinned-column th, .pinned-column td {
    white-space: nowrap;
  }

  .filter-box {
    background-color: #f8f9fa; 
    border: 1px solid #ced4da; 
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1); 
}

.filter-box .form-control {
    margin-bottom: 10px; 
}

    