{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
<html dir="rtl">
<head>
    {% comment %}
  <link
    href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap"
    rel="stylesheet"
  />
  {% endcomment %}
    <link
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
    rel="stylesheet"
    />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.rtl.min.css" rel="stylesheet">

  <link
    href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.4.0/mdb.min.css"
    rel="stylesheet"
  /> 
  <link rel="stylesheet" href="{% static 'css/base.css' %}">
</head>
<body>
	{% comment %} <div id="carouselMaterialStyle" class="carousel slide carousel-fade" data-mdb-ride="carousel">
        <div class="carousel-indicators">
          <button type="button" data-mdb-target="#carouselMaterialStyle" data-mdb-slide-to="0" class="active" 
          aria-current="true"
            aria-label="Slide 1"></button>
          <button type="button" data-mdb-target="#carouselMaterialStyle" data-mdb-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-mdb-target="#carouselMaterialStyle" data-mdb-slide-to="2" aria-label="Slide 3"></button>
          <button type="button" data-mdb-target="#carouselMaterialStyle" data-mdb-slide-to="3" aria-label="Slide 4"></button>
        </div>
      
        <div class="carousel-inner rounded-5 shadow-4-strong">
          <div class="carousel-item active">
            <img src="static\admin\img\icon-clock.svg" 
            class="d-block w-50"
            
              alt="nuts" />
          </div>
      
          <div class="carousel-item">
            <img src="static\admin\img\icon-clock.svg" 
            class="d-block w-50"
              alt="nuts2" />
          </div>
      
          <div class="carousel-item">
            <img src="static\admin\img\icon-clock.svg" 
            class="d-block w-50"
              alt="nuts3" />
          </div>

          <div class="carousel-item">
            <img src="static\admin\img\icon-clock.svg" 
            class="d-block w-50"
              alt="nuts3" />
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-mdb-target="#carouselMaterialStyle" data-mdb-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-mdb-target="#carouselMaterialStyle" data-mdb-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div> 
    {% endcomment %}

      <div class="container">
        <div class="text-center mt-3">
            <i class="fas fa-screwdriver-wrench fa-2x"></i>
            <span class="h2 m-2 text-center 
            text-uppercase ">داشبورد<span>
          </div>
        <hr>
        <div class="row">
            <div class="row justify-content-center">
               
                <a class="btn btn-outline-primary text-center p-5 m-3" 
                    style="width: 250px; maxheight:350px;" 
                    href="{% url 'customerlist' %}">مشتریان</a>
                {% comment %} <a class="btn btn-outline-primary text-center p-5 m-3" 
                    style="width: 250px; maxheight:350px;" 
                    href="{% url 'adminpanel' %}">چک ها</a> {% endcomment %}
                <a class="btn btn-outline-primary text-center p-5 m-3" 
                    style="width: 250px; maxheight:350px;" 
                    href="{% url 'adminpanel' %}">پروسه ها</a>
                {% comment %} <a class="btn btn-outline-primary text-center p-5 m-3" 
                    style="width: 250px; maxheight:350px;" 
                    href="{% url 'adminpanel' %}">گزارشات</a> {% endcomment %}
            </div>
        </div>
        
    </div>
    
    </body>
</html>

{% endblock content %}